body {
    font-family: Arial;
    background: #f5f5f5;
}

.container {
    width: 350px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.input-area {
    display: flex;
    gap: 10px;
}

#taskList li {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 8px;
    background: #eee;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
